#Ignore Visual Studio project files
build/
.vscode/*
CMakeFiles
.clangd
compile_commands.json
*.dll
*.exe
*.zip
*.log
*.h.*.idx
*.cpp.*.idx
*.c.*.idx
.DS_Store
setup_warcraft_orcs_and_humans.sh_1.2_(28330).exe
